#menu{
    width: 100%;
    text-align: center;
}

#menu ul li {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 16px;
}

#menu ul li a:hover {
    color: white;
    background-color: blueviolet;
    border-radius: 50px;
}

     h1{
        text-align: center;
     }

     h2{
       text-align:center
     }

     p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 20px;
     }
    
     .img-container{
        text-align:center;
     }